:root {
  background-color: #242424;
}
body {
  margin: 0;
  display: flex;
}
#app {
  margin: 0 auto;
  text-align: center;
}
.tree {
  display: flex;
  align-items: center;
}
.container {
  display: flex;
}
.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  height: fit-content;
  min-width: 10rem;
  padding: 2rem;
  border-radius: 8px;
}
.card:hover {
  box-shadow: 0 0 2em #000000aa;
}
.imgDiv {
  display: flex;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
img {
  max-width: 100px;
  max-height: 100px;
}
.childrenLine {
  display: flex;
  flex-direction: row;
  width: 10rem;
}
.crossLine {
  display: flex;
  flex-direction: column;
  background-color: #747bff;
}
#horizontalLine {
  width: 100%;
}
#verticalLine {
  height: 100%;
  width: 100%;
}
.connectingLine {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  background-color: aqua;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
